<section data-ng-controller="DriveLessonsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Drive lessons</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="driveLesson in driveLessons" data-ng-href="#!/drive-lessons/{{driveLesson._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="driveLesson.created | date:'medium'"></span>
				by
				<span data-ng-bind="driveLesson.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="driveLesson.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!driveLessons.$resolved || driveLessons.length">
    	No Drive lessons yet, why don't you <a href="/#!/drive-lessons/create">create one</a>?
    </div>
</section>