<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Apostilas&nbsp;
          <small>aula a aula</small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-md-4 text-center" style="" ng-repeat="aula in aulas">
      <h2 class="text-center">{{aula}}</h2>
      <img src="../images/apostila.png" class="img-responsive">
      <a href="#/apostilas"><p style="">Acesse aos aulas no formato doc do google drive!</p></a>
    </div>
  </div>
</div>