<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Atas&nbsp;
          <small>aula a aula</small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">

</div>
<div class="row">
  <div class="col-md-4" ng-repeat="ata in aulas">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a target="_blank" href="{{ata.url}}">{{ata.name}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <button type="button" class="close" ng-click="aulas.$remove(ata)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary" lk-google-picker picker-files="uploadedFiles">Escolher arquivos</a>
  </div>
</div>
</div>
