<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Atas&nbsp;
          <small>aula a aula</small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row"></div>
  <div class="row">
    <div class="col-md-4 text-center" style="" ng-repeat="aula in aulas">
      <h2 class="text-center">{{aula}}</h2>
      <a href="#/atas"><img src="../images/ata.png" class="img-responsive"></a>
      <p>Coloque aqui as atas de sua última aula!</p>
    </div>
  </div>
</div>