<div class="navbar navbar-default navbar-static-top">
  <style>
    .body{padding-top:70px}
  </style>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Inclusão Digital</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right" ng-controller="LoginController">
        <li ng-cloak ng-show-auth="login"><a href="#" ng-click="logout()">Log Out</a></li>
        <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
    <div ng-cloak class="row">
        <div class="col-md-12">

            
            <p>&nbsp;</p>
            <form role="form">
                <fielset>
                    <legend ng-hide="createMode">Sign In</legend>
                    <legend ng-show="createMode">Sign Up</legend>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>email</label>
                                <input class="form-control" type="text" ng-model="email" />
                            </div>

                            <div class="form-group">
                                <label>password</label>
                                <input class="form-control" type="password" ng-model="pass" />
                            </div>

                            <div class="form-group" ng-show="createMode">
                                <label>confirm password</label>
                                <input class="form-control" type="password" ng-model="confirm" />
                            </div>

                            <button class="btn btn-primary" ng-click="loginPassword()" ng-hide="createMode">Log In</button>
                            <!-- The functionality of adding people to the site should stay with an administrator -->
                            <!-- <button class="btn btn-default" ng-click="createMode = true" ng-hide="createMode">Register</button> -->
                            <button class="btn btn-success" ng-show="createMode" ng-click="createAccount()">Create Account</button>
                            <button class="btn btn-default" ng-show="createMode" ng-click="createMode = false">Cancel</button>
                        </div>
                    </div>
                </fielset>
            </form>
            

            <br />
            <div ng-show="err" class="alert alert-danger"><strong>{{err}}</strong></div>

        </div>
    </div>
</div>